<%= turbo_frame_tag :flash do %>
  <% flash.each do |type, message| %>
    <div data-controller="flash" data-action="click->flash#close_message" class="flash <%= type %>">
      <div class="d-flex align-items-center">
        <% if type == "alert" || type == "error" %>
          <i class="bi bi-exclamation-diamond-fill"></i>
        <% else %>
          <i class="bi bi-check-lg"></i>
        <% end %>
        <p class="m-0 ms-2"><%= message %></p>
      </div>
    </div>
  <% end %>

  <% flash.clear %>
<% end %>
