/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require devise
 */

// Layout Styles
@import "header";
@import "footer";

// Component Styles
@import "cards";
@import "flash";

// General Styles
body {
  font-family: 'Poppins', sans-serif;
  background-image: image-url('bluey-home.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: #f0f0f0; /* Fallback color */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1, h2, h3, .navbar-link, .btn {
  font-weight: 600; // Bold for headings and buttons
}

p, .card-content, .instructions {
  font-weight: 400; // Regular weight for body text
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures the wrapper takes at least the full height of the viewport
}

.content {
  flex: 1; // This allows the content to take up all available space
}