footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  background-color: #f3f3f3;
  color: #555;
  font-family: Arial, sans-serif;

  z-index: 1;
  width: 100%;
}

footer a {
  color: #0066cc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
