body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#game-container {
  text-align: center;
}

// Scoreboard CSS

#scoreboard {
  // background-color: #007bff;
  // color: white;
  // padding: 20px;
  // border-radius: 8px;
  // text-align: center;
  // margin: 20px auto;
  // max-width: 400px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  background-color: #f9f9f9;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; 
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scoreboard h2 {
  margin-bottom: 10px;
}

.scoreboard h3 {
  margin: 5px 0;
}

// Gameboard CSS

#game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  opacity: 0.9;
  gap: 35px;
  margin: 20px auto;
  max-width: 1200px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 80%;
  max-height: 80%;
}

@media screen and (max-width: 768px) {

  #game-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    width: 100%;
    margin: 5px;
  }

  .content {
    padding-bottom: 20px;
  }

  #scoreboard {
    display: grid;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 0.8em;
  }

  .navbar-link {
    font-size: 0.8em;
  }
}